
      <h1>About BCVerified</h1>
      <div class="about">
        <p>
          <u>BCVerified</u> is a service open to anyone who wishes to secure and demonstrate ownership of an item via recording on the Ethereum blockchain. 
        <p>We digitize your document(s) and include it in a mined block on the Ethereum network.  Once this is accomplished you have a permanent, irrefutable and immutable record for safe keeping; accessible only by you or someone you designate.</p>
        <p>BCVerfied is the Gold Standard for proof of ownership!</p>
          This application was created as an exercise for the <a
            href="https://softuni.bg/trainings/2452/js-back-end-september-2019">JS Back-End course</a> at the
          <a href="https://softuni.bg/">Software University</a>.</p>
      </div>
   