
      <h1>Create</h1>
      <div class="form">
        <form action='/create' method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <label for="name">Description</label>
          <textarea id="name" name="description"></textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imageUrl">
          <label for="difficulty">Category</label>
          <select id="difficulty" name="category">
            <option value="Automobiles">Automobiles</option>
            <option value="Personal_Belongings">Personal Belongings</option>
            <option value="Household_Items">Household Items</option>
            <option value="Digital_Goods">Digital Goods</option>
            <option value="Memorabilia">Memorabilia</option>
            <option value="Antiques">Antiques</option>
            <option value="Jewelry">Jewelry</option>
          </select>
          <input type="submit" value="Create">
        </form>
      </div>
    