<header>
      <ul>
        <li><img class="logo" src="/images/blockchain.png"></li>
        <li><a href="/"><u>Browse Existing Items</u></a></li>
        <li><a href="/create"><u>Add a new Item</u></a></li>
        <li><a href="/about"><u>About WTF NFT</u></a></li>
        <li><a href="/blockchain/create"><u>Add Blockchain</u></a></li>
        <li><a href="/logout"><u>Log Out</u></a></li>
        
      </ul>
    </header>