
      <h1>Create</h1>
      <div class="form">
        <form action='/create' method="POST">
          <label for="name">Name</label>
          <input type="text" id="name" name="name">
          <label for="name">Description</label>
          <textarea id="name" name="description"></textarea>
          <label for="image">ImageUrl</label>
          <input type="text" id="image" name="imageUrl">
          <label for="difficulty">Category</label>
          <select id="difficulty" name="category">
            <option value="Artwork">Artwork</option>
            <option value="Digital_Media">Digital Media</option>
            <option value="Memorabilia">Memorabilia</option>
            <option value="Antiques">Antiques</option>
            <option value="Jewelry">Jewelry</option>
          </select>
          <input type="submit" value="Create">
        </form>
      </div>
    