<h1>Create Blockchain</h1>
<div class="form">
    <form action='/blockchain/create' method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="List">
    </form>
</div>