<header>
      <ul>
        <li><img class="logo" src="/images/blockchain.png"></li>
        <li><a href="/"><u>Browse Existing Items</u></a></li>
        <li><a href="/create"><u>Add a new Item</u></a></li>
        <li><a href="/about"><u>About BCVerified</u></a></li>
        {{!-- <li><a href="/accessory/create">Add Accessory</a></li> --}}
        <li><a href="/logout"><u>Log Out</u></a></li>
        
      </ul>
    </header>